@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #250057;
}

.input-box {
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;
}

.input-box i {
    font-size: 25px;
    cursor: pointer;
}

/* responsivenesss */

@media (max-width: 570px) {

    .input-box {
        max-width: 450px;
    }

    .input-box input {
        font-size: 20px;
    }
}

@media (max-width: 500px) {

    .input-box {
        max-width: 400px;
        padding: 8px 16px;
    }

    .input-box input {
        font-size: 18px;
    }

    .input-box i {
        font-size: 22px;
    }
}

@media (max-width: 450px) {

    .input-box {
        max-width: 350px;
        padding: 7px 14px;
    }

    .input-box i {
        font-size: 20px;
    }
}

@media (max-width: 400px) {

    .input-box {
        max-width: 300px;
        padding: 5px 14px;
    }
}