@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

/* hero */

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
    position: relative;
}

/* container */

.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* square before */

.container::before {
    content: '';
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}

/* circle after */

.container::after {
    content: '';
    width: 180px;
    height: 180px;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
}

/* clock */

.clock {
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.clock span {
    margin-top: -10px;
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

/* span item names */

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after {
    content: 'HOURS';
}

#min::after {
    content: 'MINS';
}

#sec::after {
    content: 'SEC';
}

/* responsiveness */

@media (max-width: 870px) {

    .container {
        width: 700px;
        height: 160px;
    }
}

@media (max-width: 770px) {

    .container {
        width: 600px;
        height: 140px;
    }

    .container::after,
    .container::before {
        width: 150px;
        height: 150px;
    }

    .clock span {
        font-size: 70px;
        width: 100px;
    }
}

@media (max-width: 670px) {

    .container {
        width: 500px;
        height: 140px;
    }

    .container::after,
    .container::before {
        width: 140px;
        height: 140px;
    }

    .clock span {
        font-size: 60px;
        width: 90px;
    }
}

@media (max-width: 570px) {

    .container {
        width: 400px;
        height: 120px;
    }

    .container::after,
    .container::before {
        width: 120px;
        height: 120px;
    }

    .clock span {
        font-size: 50px;
        width: 70px;
    }
}

@media (max-width: 470px) {

    .container {
        width: 300px;
        height: 100px;
    }

    .container::after,
    .container::before {
        width: 100px;
        height: 100px;
    }

    .clock span {
        font-size: 40px;
        width: 50px;
    }

    .clock span::after {
        font-size: 14px;
        top: 50px;
    }
}

@media (max-width: 430px) {

    .container {
        width: 280px;
        height: 110px;
    }

    .container::after,
    .container::before {
        display: none;
    }

    .clock span {
        font-size: 35px;
        width: 50px;
    }

    .clock span::after {
        top: 45px;
    }
}