@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* container */

.container {
    width: 100%;
    height: 100vh;
    background: #141a34;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* form */

.container form {
    width: 90%;
    max-width: 600px;
    padding: 50px 30px 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* send icon */

.container form .fa-paper-plane {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* input wrap */

.input-group {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

/* message div */

.message {
    display: flex;
    align-items: start;
}

.message label {
    margin-top: 8px;
}

/* label name */

.input-group label {
    flex-basis: 28%;
    user-select: none;
}

/* input and textarea */

.input-group input,
.input-group textarea {
    flex-basis: 68%;
    background: transparent;
    outline: 0;
    padding: 10px 0;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 10px;
    color: #333;
    font-size: 16px;
}

::placeholder {
    font-size: 14px;
}

/* validation message */

.input-group span {
    position: absolute;
    bottom: 12px;
    right: 30px;
    font-size: 14px;
    color: red;
    user-select: none;
}

/* validation icon */

.input-group span i {
    color: seagreen;
}

/* button wrap */

.button-wrap {
    display: flex;
    justify-content: center;
}

/* submit button */

form button {
    background: #141a34;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 20px;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* submit error message */

#submit-error {
    color: red;
    user-select: none;
    position: absolute;
    bottom: 10px;
}

/* responsiveness */

@media (max-width: 650px) {

    .input-group,
    .message {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .input-group input,
    .input-group textarea {
        width: 85%;
    }

    .input-group span {
        bottom: 12px;
        right: 50px;
    }
}

@media (max-width: 550px) {

    .input-group label {
        display: none;
    }

    .input-group input,
    .input-group textarea {
        width: 90%;
        margin: 20px 0 10px;
    }

    .input-group span {
        bottom: -20px;
        left: 25px;
    }
}

@media (max-width: 400px) {

    .input-group input,
    .input-group textarea {
        width: 100%;
    }

    .input-group span {
        left: 10px;
        width: 100%;
    }

    form button {
        padding: 8px 30px;
    }
}