@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

/* container */

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* to do app container */

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

/* heading */

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 i {
    margin-left: 15px;
}

/* row */

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* input box */

.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

/* add button */

.row button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

/* tast list item */

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

/* check box */

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/Unchecked.jpg);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}

/* if checked */

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/Checked.jpg);
}

/* cross icon */

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

/* responsiveness */

@media (max-width: 570px) {

    .todo-app {
        max-width: 440px;
    }
}

@media (max-width: 470px) {

    .todo-app {
        max-width: 340px;
        padding: 30px 20px 60px;
    }

    .row input {
        flex: none;
        width: 150px;
        padding: 7px;
    }

    .row button {
        padding: 16px 30px;
    }
}

@media (max-width: 360px) {

    .todo-app {
        max-width: 290px;
        padding: 30px 20px 60px;
    }

    .row input {
        flex: none;
        width: 150px;
        padding: 7px;
    }

    .row button {
        padding: 10px 20px;
    }
}