@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* background */

.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #1d0000, #20205b);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* calender container */

.calender {
    width: 350px;
    height: 250px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.left,
.right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.right {
    width: 42%;
    background: #f4351e;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left {
    width: 58%;
}

#date {
    font-size: 100px;
    line-height: 90px;
}

/* responsivenesss */

@media (max-width: 400px) {

    .calender {
        width: 290px;
    }
}