@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

/* container */

.container {
    width: 100%;
    height: 100vh;
    background-image: url(images/wallpaper.webp);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
    overflow: hidden;
}

/* logo text */

.logo-text {
    padding: 20px 0;
    color: #ff3753;
    font-size: 25px;
    cursor: pointer;
}

/* content */

.content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content h1 {
    font-size: 64px;
    font-weight: 600;
}

.content h1 span {
    color: #ff3753;
}

.content button {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.content button i {
    margin-left: 10px;
}

/* countdown */

.launch-time {
    display: flex;
}

.launch-time .div {
    flex-basis: 100px;
}

.launch-time .div p {
    font-size: 60px;
    margin-bottom: -14px;
}

/* rocket icon */

.rocket {
    width: 250px;
    position: absolute;
    right: 5%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

/* rocket icon animation */

@keyframes rocket {

    0% {
        bottom: 0;
        opacity: 0;
    }

    100% {
        bottom: 105%;
        opacity: 1;
    }
}

/* responsiveness */

@media (max-width: 1225px) {

    .rocket {
        width: 200px;
        right: 40px;
    }
}

@media (max-width: 1150px) {

    .container {
        padding: 0 5%;
    }
}

@media (max-width: 1050px) {

    .logo-text {
        font-size: 20px;
    }

    .content h1 {
        font-size: 54px;
    }
}

@media (max-width: 950px) {

    .rocket {
        width: 150px;
        right: 20px;
    }

    .content h1 {
        font-size: 45px;
    }

    .launch-time .div p {
        font-size: 50px;
    }
}

@media (max-width: 750px) {

    .container {
        padding: 0 3%;
    }

    .rocket {
        width: 130px;
        right: 10px;
    }

    .content h1 {
        font-size: 40px;
    }

    .launch-time .div p {
        font-size: 40px;
    }

    .content button {
        padding: 10px 20px;
    }
}

@media (max-width: 650px) {

    .content {
        width: 400px;
    }

    .content h1 {
        line-height: 50px;
    }
}

@media (max-width: 450px) {

    .content {
        width: 300px;
    }
}

@media (max-width: 400px) {

    .logo-text {
        font-size: 16px;
    }

    .content h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .launch-time .div p {
        font-size: 35px;
    }

    .content button {
        padding: 8px 16px;
    }
}