@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #002339;
    color: #fff;
    overflow: hidden;
}

/* container */

.container {
    margin: 140px;
    width: 90%;
    max-width: 700px;
}

/* heading */

.container h1 {
    font-weight: 500;
    font-size: 45px;
}

.container h1 span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

/* dis2play box */

.display {
    width: 100%;
    margin: 50px 0 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
}

.display i {
    color: #019f55;
    font-size: 30px;
    cursor: pointer;
}

/* button */

.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}

.container button i {
    color: #fff;
    font-size: 25px;
    margin-right: 10px;
}

/* responsiveness */

@media (max-width: 950px) {

    .container {
        margin: 140px 80px;
    }
}

@media (max-width: 850px) {

    .container {
        margin: 140px 40px;
    }
}

@media (max-width: 780px) {

    .container {
        margin: 150px 40px;
        max-width: 600px;
    }

    .container h1 {
        font-size: 40px;
    }

    .display {
        padding: 20px;
    }

    .container button {
        padding: 15px 20px;
        font-size: 20px;
    }

    .container button i {
        font-size: 22px;
    }
}

@media (max-width: 680px) {

    .container {
        margin: 170px 40px;
        max-width: 500px;
    }

    .container h1 {
        font-size: 35px;
    }

    .display {
        margin-top: 40px;
        padding: 15px 20px;
    }

    .display input {
        font-size: 22px;
    }

    .display i {
        font-size: 25px;
    }

    .container button {
        padding: 10px 15px;
        font-size: 18px;
    }

    .container button i {
        font-size: 20px;
    }
}

@media (max-width: 580px) {

    .container {
        margin: 200px 40px;
        max-width: 400px;
    }

    .container h1 {
        font-size: 30px;
    }

    .display {
        padding: 12px 20px;
    }

    .display input {
        font-size: 20px;
    }

    .display i {
        font-size: 23px;
    }

    .container button {
        padding: 8px 12px;
        font-size: 16px;
    }

    .container button i {
        font-size: 18px;
    }
}

@media (max-width: 480px) {

    .container {
        margin: 220px 30px;
        max-width: 300px;
    }

    .container h1 {
        font-size: 27px;
    }

    .display {
        padding: 10px 20px;
    }

    .display input {
        font-size: 18px;
    }

    .display i {
        font-size: 21px;
    }

    .container button {
        padding: 6px 12px;
        font-size: 15px;
    }

    .container button i {
        font-size: 16px;
    }
}

@media (max-width: 360px) {

    .container {
        margin: 220px 20px;
        max-width: 280px;
    }
}