@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* container */

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    color: #fff;
    padding: 60px 0 0 100px;
}

/* heading */

.container h1 {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    user-select: none;
}

/* icons */

.container h1 i,
.container button i {
    margin: 0 10px;
}

/* create notes button */

.container button {
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd, #571094);
    color: #fff;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* notes container */

.notes-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* note div */

.note {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

/* input box */

.input-box {
    color: #333;
    outline: none;
    height: 100px;
}

/* delete icon */

.note .fa-trash-can {
    position: absolute;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #000;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* responsiveness */

@media (max-width: 700px) {

    .container {
        padding: 30px 0 0 40px;
    }
}

@media (max-width: 580px) {

    .container h1 {
        font-size: 30px;
    }

    .container button {
        padding: 10px 20px;
        margin: 20px 0;
    }

    .note {
        max-width: 450px;
    }
}

@media (max-width: 520px) {

    .container {
        padding: 20px 0 0 20px;
    }

    .container h1 {
        font-size: 25px;
    }

    .container button {
        padding: 8px 16px;
        margin: 20px 0;
        font-size: 14px;
    }

    .note {
        max-width: 350px;
        min-height: 130px;
        padding: 15px;
        margin: 10px 0;
    }
}

@media (max-width: 400px) {

    .note {
        max-width: 280px;
    }
}