@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #bbc6fa;
}

/* quote-box */

.quote-box {
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}

/* heading */

.quote-box h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* quote text */

.quote-box blockquote {
    font-size: 25px;
    min-height: 110px;
}

.quote-box blockquote::before,
.quote-box blockquote::after {
    content: '"';
}

/* author name */

.quote-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

/* buttons */

.quote-box .button {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.button button {
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button i {
    margin-right: 10px;
}

.quote-box button:nth-child(2) {
    background: transparent;
    color: #333;
}

/* responsiveness */

@media (max-width: 750px) {

    .quote-box {
        width: 600px;
    }
}

@media (max-width: 650px) {

    .quote-box {
        width: 500px;
    }
}

@media (max-width: 550px) {

    .quote-box {
        width: 400px;
    }

    .quote-box h2 {
        font-size: 28px;
    }

    .quote-box blockquote {
        font-size: 22px;
    }
}

@media (max-width: 450px) {

    .quote-box {
        width: 300px;
        padding: 30px 30px 20px 30px;
    }

    .quote-box h2 {
        font-size: 25px;
    }

    .quote-box blockquote {
        font-size: 20px;
    }

    .button button {
        height: 35px;
        font-size: 14px;
    }
}